@model TestWebApp.Models.Person
@{
    ViewBag.Title = "Index";
}
<h4>Person</h4>
@using (Html.BeginForm("Person", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.EditorForModel()
            </div>
            <div class="col-sm-6">
                @Html.EditorFor(m => m.HomeAddress)
            </div>
            <div class="col-sm-2">
                Hello world
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit"/>
        </div>
    </div>

}




