@model TestWebApp.Models.Person

@{
    ViewBag.Title = "Person";
}

<h2>Person</h2>

<div>
    <h4>Person</h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @Html.DisplayForModel()
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(m => m.HomeAddress)
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
