@using AspNetCore.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Home Page";
}

@inject IViewLocalizer Localizer

<div class="text-center">
    @Html.ImageFor("you_goo1d111.jpg", Localizer["ThisIsImageKey"])
</div>
